/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
h1 {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}
